<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Good Thymes Virtual Grocery</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>

<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"></link>
</head>
<body>

	<nav class="navbar navbar-light bg-info">THYMELEAF</nav>

	<div class="container">
		Welcome Messages:
		<div class="row">
			<div class="col-sm">
				<p th:text="#{index.welcome}">Welcome to our grocery store!</p>
				<p th:utext="#{index.uwelcome}">Welcome to our grocery store!</p>
			</div>
			<div class="col-sm">
				<p th:text="${#locale}"></p>
				<p th:text="${#httpServletRequest}"></p>
			</div>
		</div>
		<div class="row">
			<div> 
					<span th:if="${'todayDate' instanceof T(java.util.Date)}"> 		
						<label for="d1">Today's Date :</label>		
						<input id="d1" type="date" name="d1" th:text="${#calendars.format(todayDate,'dd MMMM yyyy')}"></input>
					</span>
					<span th:if="${'todayDate' instanceof T(java.lang.String)}">
						<label for="d2">Today's Date :</label>
						<input type="date" id="d2" name="d2" th:text="${todayDate}"></input>
					</span>
			</div>
			Established locale country: <span th:text="${#locale.country}">US</span>.

			<p th:text="${(#ctx).getClass()}"></p>
			<span th:text="${(#vars).getClass()}"></span>
		</div>
		<div class="row">
			<form class="form-inline" action="#" th:action="@{/date}" th:object="${person}">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Username</span>
					</div>
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name Here."
						aria-label="Username" aria-describedby="basic-addon1" th:value="*{name}"></input>
				</div>

				<div class="form-group mx-sm-3 mb-2">
					<label for="date" class="sr-only">Date</label> <input type="text" class="form-control" id="date" name="date"
						placeholder="date" th:value="${person.date}"></input>
				</div>
				<button type="submit" class="btn btn-primary mb-2">Send Date</button>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>